{% extends 'base.html' %} {% block content %}
<section class="bg-primary recipe-filter-margin">

    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Browse our Recipes</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Use the filters below to help find the perfect meal for you</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto text-center filters-div">
                <h4 class="section-heading text-white">Main Food Type</h4>
                <hr class="hr-bottom light my-4">
                <ul class="list-padding">
                    <li class="filter-list-item" onClick=meatFilter("Chicken")>Chicken<i class="fas fa-times filters-x"hidden></i></li>
                    <li class="filter-list-item" onClick=meatFilter("Beef")>Beef</li>
                    <li class="filter-list-item" onClick=meatFilter("Lamb")>Lamb</li>
                    <li class="filter-list-item" onClick=meatFilter("Pork")>Pork</li>
                    <li class="filter-list-item" onClick=meatFilter("Vegetarian")>Vegetarian</li>
                    <li class="filter-list-item" onClick=meatFilter("Seafood")>Seafood</li>
                    <li class="filter-list-item" onClick=meatFilter("Dessert")>Dessert</li>

                </ul>
                <hr class="light my-4">
            </div>

            <div class="col-lg-4 mx-auto text-center filters-div">
                <h4 class="section-heading text-white">Time Taken</h4>
                <hr class="hr-bottom light my-4">
                <ul class="list-padding 3-item-list">
                    <li class="filter-list-item" onClick=timeFilter("Fast")>Quick Meals</li>
                    <li class="filter-list-item" onClick=timeFilter("Medium")>Average Meals</li>
                    <li class="filter-list-item" onClick=timeFilter("Long")>All-day Meals</li>
              
                </ul>
                <hr class="light my-4">
            </div>

            <div class="col-lg-4 mx-auto text-center filters-div">
                <h4 class="section-heading text-white">Cost of Meal</h4>
                <hr class="hr-bottom light my-4">
                <ul class="list-padding label-text">
                    <li class="filter-list-item" onClick=priceFilter("Cheap")>Budget Meals</li>
                    <li class="filter-list-item" onClick=priceFilter("Medium")>Everyday Meals</li>
                    <li class="filter-list-item" onClick=priceFilter("Expensive")>Special Occasions</li>
                </ul>
                <hr class="hr-bottom light my-4">
            </div>
            <div class="col-12 text-center">
                <button onClick="resetFilter()" class="filters-div reset-button btn btn-light">Reset</button>
            </div>
        </div>
        
    </div>
    <button type="button" id="toggle" class="block-button">Show Filters<i class="fas fa-angle-double-down icon-margin"></i></button>
</section>

<!-- recipe preview card section -->
<section class="recipe-section">
    <div class="row blurall" id="recipe-wrapper">
        {% for recipe in recipes %}
        <div class="col-sm-6 col-lg-4 nonblur" id="cards">
            <a class="link-text" href="/{{recipe._id}}">
                <div class="card">

                    <!-- image preview loop -->
                    {% if recipe.meal_category == 'Beef' %}
                    <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/beef.jpg');"></div>
                    {% elif recipe.meal_category == 'Chicken' %}
                    <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/chicken.jpg');"></div>
                    {% elif recipe.meal_category == 'Pork' %}
                    <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/pork.jpg');"></div>
                    {% elif recipe.meal_category == 'Lamb' %}
                    <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/lamb.jpg');"></div>
                    {% elif recipe.meal_category == 'Seafood' %}
                    <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/seafood.jpg');"></div>
                    {% elif recipe.meal_category == 'Vegetarian' %}
                    <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/vegemeal.jpg');"></div>
                    {% elif recipe.meal_category == 'Dessert' %}
                    <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/dessert.jpg');"></div>
                    {% endif %}

                    <div class="container">
                        <div class="text-center">
                            <h4 class="card-title">{{recipe.title}}</h4>
                        </div>
                        <hr class="card-hr ">
                        <div class="div-width">
                            <!-- time icon loop -->
                            {% if recipe.time == 'Long' %}
                            <i class="far fa-clock icon3 preview-icon"></i> 
                            {% elif recipe.time == 'Medium' %}
                            <i class="far fa-clock icon2 preview-icon"></i> 
                            {% elif recipe.time == "Fast" %}
                            <i class="far fa-clock green-icon preview-icon"></i> 
                            {% endif %}

                            <!-- price icon loop -->
                            {% if recipe.price == 'Expensive' %}
                            <i class="fas fa-dollar-sign icon-margin icon3 preview-icon"></i> 
                            {% elif recipe.price == 'Medium' %}
                            <i class="fas fa-dollar-sign icon-margin icon2 preview-icon"></i> 
                            {% elif recipe.price == "Cheap" %}
                            <i class="fas fa-dollar-sign icon-margin green-icon preview-icon"></i> {% endif %}

                            <!-- vegetarian icon loop -->

                            {% if recipe.meal_category == 'Vegetarian' %}
                            <i class="fas fa-carrot green-icon preview-icon"></i>
                            {% endif %}

                        </div>
                        <div class="div-width text-right">
                            <i class="far fa-thumbs-up text-right preview-icon"></i>
                            <span class="text-right upvote-text">{{recipe.upvotes}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

<nav class="pagination-nav">
    <ul class="pagination text-center">
        <li class="page-item disabled" id="previous" onClick="lastPage()"><a class="page-link" id="previous" href="#">Previous</a></li>
        <li class="page-item"><b><a class="page-link" id="button1" href="#">1</a></b></li>
        <li class="page-item" onClick="nextPage()"><a class="page-link" id="button2" href="#">2</a></li>
        <li class="page-item" onClick="skipPage()"><a class="page-link" id="button3" href="#">3</a></li>
        <li class="page-item" id="next" onClick="nextPage()"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
</section>



{% endblock %}
