
{% for recipe in recipes %}
<div class="col-sm-6 col-lg-4 nonblur">
    <a class="link-text" href="/">
        <div class="card">

            <!-- image preview loop -->
            {% if recipe.meal_category == 'Beef' %}
            <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/beef.jpg');"></div>
            {% elif recipe.meal_category == 'Chicken' %}
            <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/chicken.jpg');"></div>
            {% elif recipe.meal_category == 'Pork' %}
            <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/pork.jpg');"></div>
            {% elif recipe.meal_category == 'Lamb' %}
            <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/lamb.jpg');"></div>
            {% elif recipe.meal_category == 'Seafood' %}
            <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/seafood.jpg');"></div>
            {% elif recipe.meal_category == 'Vegetarian' %}
            <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/vegemeal.jpg');"></div>
            {% elif recipe.meal_category == 'Dessert' %}
            <div class="recipe-image" style="background-image:url('/static/img/preview_imgs/dessert.jpg');"></div>
            {% endif %}

            <div class="container">
                <div class="text-center">
                    <h4 class="card-title">{{recipe.title}}</h4>
                </div>
                <hr class="card-hr ">
                <div class="div-width">
                    <!-- time icon loop -->
                    {% if recipe.time == 'Long' %}
                    <i class="far fa-clock icon3 preview-icon"></i> {% elif recipe.time == 'Medium' %}

                    <i class="far fa-clock icon2 preview-icon"></i> {% elif recipe.time == "Fast" %}
                    <i class="far fa-clock green-icon preview-icon"></i> {% endif %}

                    <!-- price icon loop -->
                    {% if recipe.price == 'Expensive' %}
                    <i class="fas fa-dollar-sign icon-margin icon3 preview-icon"></i> {% elif recipe.price == 'Medium' %}
                    <i class="fas fa-dollar-sign icon-margin icon2 preview-icon"></i> {% elif recipe.price == "Cheap" %}
                    <i class="fas fa-dollar-sign icon-margin green-icon preview-icon"></i> {% endif %}

                    <!-- vegetarian icon loop -->

                    {% if recipe.meal_category == 'Vegetarian' %}
                    <i class="fas fa-carrot green-icon preview-icon"></i> {% endif %}

                </div>
                <div class="div-width text-right">
                    <i class="far fa-thumbs-up text-right preview-icon"></i>
                    <span class="text-right upvote-text">{{recipe.upvotes}}</span>
                </div>
            </div>
        </div>
    </a>
</div>
{% endfor %}





